.formContainer {
    padding-top: 55px;
    padding-bottom: 30px;
    width: 80%;
    margin: 30px auto;
}

.formBlock {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.formImg {
    width: 100%;
    height: 250px;
    margin-bottom: 40px;
    background-image: url('../../assets/img/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.explanation {
    background-color: #e6edee;
    color: #a94442;
    text-align: start;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #d8ecef;
    opacity: 0.8;
    width: 100%;
    padding: 5px 0;
}

.explanation span {
    margin: 5px;
}

.inputGroup {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.inputGroupControl {
    border-radius: 4px;
    width: 100%;
    outline: none;
    font-size: 14px;
    padding: 2px 15px;
    border: 1px solid #108376;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
}

.inputGroupControl:focus {
    border: 1px solid #fa8d68;
}

.radioGroup {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.groupTitle {
    color: rgb(67, 85, 94);
    text-align: start;
    align-self: center;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px 8px 0;
    margin-right: 30px;
    white-space: nowrap;
}

.radioGroupControlWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.radioGroupControl {
    display: flex;
    border-radius: 4px;
    padding: 2px 5px;
}
.radioGroupControlItem {
    color: coral;
    cursor: pointer;
}
.radioGroupControlItem:hover {
    color: #fe783c;
}

.buttonBlock {
    border: 1px solid;
    width: 100%;
}

.btn {
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 8px 16px;
    margin: 20px auto;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #108376;
    cursor: pointer;
    border: 1px solid rgba(16, 131, 118, 0.53);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.btn:hover {
    background-color: rgba(6, 90, 81, 0.9);
    border: 1px solid #108376;
}
.btn:active {
    background-color: #fe783c;
    border: 1px solid #fd9e7c;
}
@media screen and (max-width: 900px) {
    .inputGroup {
        padding-top: 10px;
        flex-wrap: wrap;
    }

    .inputGroupControl {
        height: 30px;
    }

    .explanation {
        text-align: center;
    }

    .formImg {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) and (orientation: landscape) {
    .formContainer {
        max-width: 1320px;
    }
}
